<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>PREFACE | Edit Profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png'%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
<!--===============================================================================================-->
<style>
	.test a {
		font-family: Poppins-Medium;
		font-size: 20px;
		font-weight: bold;
		color: #333;
		padding: 5px 0px;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-o-transition: all 0.4s;
		-moz-transition: all 0.4s;
	}

	.profileimage img{
		height: 160px;
		width: 160px;
		border-radius: 50%;
		border-color: #fff;
	}
	.profileimage{
	   /* display: inline-block; 
		margin: 0 0px;*/
		text-align: center;
		margin-top: -50px;
	}
	.info-box {
		background-color: gainsboro;
		border-radius: 5px;
	}

	.editForm label{
		font-size: 13px;
		color: #b9b9b9;
		letter-spacing: 1px;
	}
	.infoanchor a{
		color: #9e9e9e;
		font-weight: bold;
		font-size: larger;
	}
	
	input[type=text] {
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid red;
		background-color: #272626;
		color: white;
	}

	input[type=text]:hover {
		border-bottom: 2px solid white;
	}

	input[type=email]{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid red;
		background-color: #272626;
		color: white;
	}

	input[type=email]:hover {
		border-bottom: 2px solid white;
	}
	
	input[type=number]{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid red;
		background-color: #272626;
		color: white;
	}

	input[type=number]:hover {
		border-bottom: 2px solid white;
	}
	input[type=date]{
		width: 100%;
		padding: 12px 3px;
		margin: 8px 0;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid red;
		background-color: #272626;
		color: white;
	}

	input[type=date]:hover {
		border-bottom: 2px solid white;
	}
	textarea[type=text]{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid red;
		background-color: #272626;
		color: white;
	}

	textarea[type=text]:hover {
		border-bottom: 2px solid white;
	}

	select {
		width: 100%;
		padding: 14px 20px;
		box-sizing: border-box;
		border: none;
		border-bottom: 2px solid red;
		background-color: #272626;
		color: white;
	}

	select:hover {
		border-bottom: 2px solid white;
	}

	.linksBtn {
		color: white;
		background: red;
		padding: 10px 30px 10px 30px;
		border-radius: 25px;
		font-size: 16px;
		font-weight: bold;
	}
	
	.linksBtn:hover {
		color: black;
		background: white;
		padding: 10px 30px 10px 30px;
		border-radius: 25px;
		font-size: 16px;
		font-weight: bold;
	}
	
</style>
</head>
<body class="animsition">
    <!-- Header -->
	<header class="header-v2" >
		<!-- Header desktop -->
		<div class="container-menu-desktop trans-03">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop p-l-45">
					<div class="logo-mobile">
						<a href="/"><img src="{% static 'images/icons/pre-black.png'%}" alt="IMG-LOGO"></a>
					</div>
					<div class="btn-show-menu-mobile hamburger hamburger--squeeze ">
						<span class="test mr-4">
							<a href="#" class="text-dark">Log Out</a>
						</span>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile text-center">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img src="{% static 'images/icons/pre-black.png'%}" alt="IMG-LOGO"></a>
			</div>
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze ">
				<span class="test">
                    <a href="#" class="text-dark">Log Out</a>
				</span>
			</div>
		</div>
	</header>

    <section class="pb-5 editForm" style="background: black; color: white;">
		<div class="coverimage">
			<img src="/media/{{ data.cover_picture }}" class="img-fluid responsive" alt="CoverImg">
		</div>
			<div class="container profileimage ">
				<img src="/media/{{ data.profile_picture }}" class="img-fluid img-thumbnail" alt="Profileimg"> 
			</div>
	<form action="/profile/edit/{{ data.id }}" method="post">
		{% csrf_token %}
		<div class="container mt-3 biodata p-4">
			<div class="form-group">
				<label for="coverphoto">Cover Photo:</label>
				<input type="file" accept="image/*" class="form-control-file" id="coverphoto">
			</div>

			<div class="form-group">
				<label for="pfofilephoto">Profile Photo:</label>
				<input type="file" accept="image/*" class="form-control-file" id="pfofilephoto">
			</div>

			<h5 class="m-t-40 mb-4">Personal</h5>

			<div class="form-group">
				<label for="name">Username</label>
				<input type="text" name="name" id="username" value="{{ data.name }}">
			</div>

			<div class="form-group">
				<label for="designation">Designation</label>
				<input type="text" id="designation" name="designation" value="{{ data.designation }}">
			</div>

			<div class="form-group">
				<label for="mobileno">Mobile</label>
				<input type="number" id="phonenumber" name="phone_number" value="{{ data.phone_number }}">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" value="{{ data.email }}">
			</div>

			<div class="form-group">
				<label for="bio">Biography</label>
				<textarea type="text" rows="3" name="about" id="userbio">{{ data.about }}</textarea>
			</div>

			<div class="form-group">
				<label for="address">Address</label>
				<textarea type="text" name="address" rows="3" id="userbio">{{ data.address }}</textarea>
			</div>


				<!-- Social Links  -->
				<div class="mt-4">
					<h5 class="m-t-40 mb-4">Social Links</h5>
					<div class="socialWrapper">
						<div class="inlineFiled social_parentDiv">
							<div class="d-flex justify-content-start ">
								<div class="p-2">
									<label for="socialLinks">Social</label>
									<select id="sname" name="sname">
										<option value="facebook">facebook</option>
										<option value="twitter">Twitter</option>
										<option value="snapChat">SnapChat</option>
										<option value="youtube">Youtube</option>
									</select>
								</div>
								<div class="p-2 text-right">
									<label for="name">Links</label>
									<input type="text" value="https://www.facebook.com/sayem.sam">
									<!-- <a href="#" type="button" class="text-light mr-2"><i class="fa fa-eye" style="font-size:20px;"></i></a>
									<a href="#" type="button" class="text-light ml-2"> <i class="fa fa-trash-o" style="font-size:20px;"></i></a> -->
								</div>
							</div>
						</div>
					</div>
						
					<div class="container mt-4 text-right">
						<a href="javascript:void(0);" class="linksBtn" id="socialAddMore">Add Links</a>
					</div>
				</div>
			</div> 
			
			<div class="container mt-4 ">
				<ul class="nav nav-tabs infoanchor" id="myTab" role="tablist">
					<li class="nav-item">
					  <a class="nav-link active tabdesign" id="professional-tab" data-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="true">Professional</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link tabdesign" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="false">Skills</a>
					</li>
				  </ul>
				  <div class="tab-content p-4" id="myTabContent">
					<!-- PROFESSIONAL INFORMATION  -->
					<div class="tab-pane fade show active" id="professional" role="tabpanel" aria-labelledby="professional-tab">
						<div class="profwrapper">
							<div class="mt-2 mb-2 profParentDiv">
								<label for="cmpDesignation">Responsibilty</label>
								<input type="text" value="Full-stack Developer">

								<label for="cmpName">Company</label>
								<input type="text" value="Techmelba International">
								
								<div>
									<div class="d-flex justify-content-start">
										<div class="p-1">
											<label for="date">From</label>
											<input type="date" class="form-control">
										</div>
										<div class="p-1">
											<label for="date">To</label>
											<input type="date" class="form-control">
										</div>
									</div>
								</div>
								<label for="location">Location</label>
								<textarea type="text" name="location"  cols="30" rows="3">House 417, Road 07, Baridhara DOHS, Dhaka</textarea>
							</div>
						</div>
						
						<div class="container text-right mt-4">
							<a href="javascript:void(0);" class="linksBtn mt-4" id="AddMoreProf">Add More</a>
						</div>
					</div>
	
					<!-- SKILLS INFORMATION  -->
					<div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
						<div class="skillswrapper">
							<div class="skills">
								<label for="skName">Skills</label>
								<input type="text" value="Web Development">
							</div>
						</div>
						<div class="container text-right mt-4">
							<a href="javascript:void(0);" class="linksBtn mt-4" id="skillAddMore">Add Skills</a>
						</div>
					</div>
				  </div>
			</div>
		</div>

	
		<div class="container user-video mt-4">
			<div class="form-group">
				<label for="pfofilephoto">Upload Video</label>
				<input type="file" accept="video/*" class="form-control-file" id="uservideo">
			</div>
		</div>

		<div class="container user-video mt-4">
			<div class="form-group">
				<label for="pfofilephoto">Upload Resume or PDF</label>
				<input type="file" accept="pdf/*" class="form-control-file" id="userfile">
			</div>
		</div>

	   

		<div class="container mt-5 text-center">
			<button class="linksBtn btn-block">Save Profile</button>
		</div>
	</form>
</section>

	<!-- Footer -->
	<footer class="p-t-50 p-b-10 text-center" style="background-color: black;">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-10">
					<h4 class="stext-301 cl0 p-b-30">
						PREFACE
					</h4>
				</div>
			</div>
		</div>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js'%}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js'%}"></script>
	<!-- SOCIAL LINKS JQUERY INLINE  -->
	<script type="text/javascript">
	$(document).ready(function(){
		var maxField = 10; //Input fields increment limitation
		var addSocialButton = $('#socialAddMore'); //Add button selector
		var socialwrapper = $('.socialWrapper'); //Input field wrapper
		var socialFieldsHTML = '<div class="inlineFiled social_parentDiv"><div class="d-flex justify-content-start"><div class="p-2"><label for="socialLinks">Social</label><select id="sname" name="sname"><option value="facebook">facebook</option><option value="twitter">Twitter</option><option value="snapChat">SnapChat</option><option value="youtube">Youtube</option></select></div><div class="p-2 text-right"><label for="name">Links</label><input type="text" value="https://www.facebook.com/sayem.sam"><a href="#" type="button" class="text-light mr-2"><i class="fa fa-eye" style="font-size:20px;"></i></a><a href="javascript:void(0);" class="text-light font-weight-bold removeSocial_button ml-2"> <i class="fa fa-trash-o" style="font-size:20px;"></i></a></div></div></div>'; //New input field html 
		var x = 1; //Initial field counter is 1
		
		//Once add button is clicked
		$(addSocialButton).click(function(){
			//Check maximum number of input fields
			if(x < maxField){ 
				x++; //Increment field counter
				$(socialwrapper).append(socialFieldsHTML); //Add field html
			}
		});
		
		//Once remove button is clicked
		$(socialwrapper).on('click', '.removeSocial_button', function(e){
			e.preventDefault();
			$(this).closest('.social_parentDiv').remove(); //Remove field html
			x--; //Decrement field counter
		});
	});
	</script>
	<!-- SOCIAL LINKS JQUERY INLINE  -->

	<!-- PROFESSIONAL LINKS JQUERY INLINE  -->
	<script type="text/javascript">
	$(document).ready(function(){
			var maxField = 10; 
			var addProfButton = $('#AddMoreProf');
			var profwrap = $('.profwrapper'); 
			var profFieldHTML = '<hr><div class="mt-2 mb-2 profParentDiv"><label for="cmpDesignation">Responsibilty</label><input type="text" value="Full-stack Developer"><label for="cmpName">Company</label><input type="text" value="Techmelba International"><div><div class="d-flex justify-content-start"><div class="p-1"><label for="date">From</label><input type="date"></div><div class="p-1"><label for="date">To</label><input type="date"></div></div></div><label for="location">Location</label><textarea type="text" name="location"  cols="30" rows="3">House 417, Road 07, Baridhara DOHS, Dhaka</textarea><a href="javascript:void(0);" class="removeProfButton text-light font-weight-bold" style="font-size: 20px;"><i class="fa fa-trash-o"></i></a></div>';
			var x = 1; 
			$(addProfButton).click(function(){
				if(x < maxField){ 
					x++; 
					$(profwrap).append(profFieldHTML);
				}
			});
			$(profwrap).on('click', '.removeProfButton', function(e){
				e.preventDefault();
				$(this).closest('.profParentDiv').remove(); 
				x--; 
			});
		});
	</script>

	<!-- Skills LINKS JQUERY INLINE  -->
	<script type="text/javascript">
		$(document).ready(function(){
			var maxField = 10; 
			var addSkillButton = $('#skillAddMore');
			var sw = $('.skillswrapper'); 
			var skillFieldHTML = '<div class="skills"><label for="skName">Skills</label><input type="text" value="Web Development"><a href="javascript:void(0);" class="text-light font-weight-bold removeSkillDiv"> <i class="fa fa-trash-o" style="font-size:20px;"></i></a></div>';
			var x = 1; 
			$(addSkillButton).click(function(){
				if(x < maxField){ 
					x++; 
					$(sw).append(skillFieldHTML);
				}
			});
			$(sw).on('click', '.removeSkillDiv', function(e){
				e.preventDefault();
				$(this).closest('.skills').remove(); 
				x--; 
			});
		});
		</script>
	
</body>
</html>